@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./font.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lausanne", sans-serif;
}

::selection {
  color: #fff;
  background-color: black;
}

html {
  /* scroll-behavior: smooth; */
}

a {
  /* color: #f02828; */
  text-decoration: underline;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.02em;
}

* {
  box-sizing: border-box;
}

.curtains-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;

  z-index: -1;
}

span.avoidwrap {
  display: inline-block;
}
